/Users/chukuemekaogudu/Documents/csci572/Assignment2/Crawler/.idea
/Users/chukuemekaogudu/Documents/csci572/Assignment2/Crawler/src/data
/Users/supreeth/Documents/Fall20/IR/HW2/Information-Retrieval-572/Assignment2/.idea
/Users/supreeth/Documents/Fall20/IR/HW2/Information-Retrieval-572/Assignment2/Crawler/.idea
/Users/supreeth/Documents/Fall20/IR/HW2/Information-Retrieval-572/Assignment2/Crawler/src/Data